*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.nav {
    height: 100vh;
    width: 40vw;
    align-items: center;
    border: 1px solid black;
    background-color: black;
}
.nav img {
    border-radius: 100%;
    width: 100px;
    background-image: url(./images/Chanique.JPG);
}